<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ page.title }}
    </title>
    <link href='/static-ohc/css/lib/bootstrap/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='/static-ohc/css/ohc.opal.css' rel='stylesheet' type='text/css'>
    <link href='/static-ohc/images/favicon.ico' rel='icon' type='image/ico'>

    <script type="text/javascript" src="/static-ohc/js/jquery.js"></script>
    <script type="text/javascript" src="/static-ohc/js/opal-static.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  </head>
  <body>

    <div class="navbar">
      <header>
        <a href="/static-ohc" class="img">
          <img src="/static-ohc/images/toplogo.png">
        </a>
        <a href="/static-ohc/about/">
          about
        </a>
        <a href="http://www.openhealthcare.org.uk/?page_id=334">
          blog
        </a>
        <h1>
          <i>
            Usability in healthcare technology
          </i>
        </h1>
      </header>
    </div>
    {{ content }}
    <div class='navbar navbar-static-bottom'>
      <footer>
        <div class='row-fluid'>
          <div class='span4 offset4'>
            <center>
              hello@openhealthcare.org.uk
              <br />
              <a href='http://www.openhealthcare.org.uk'>Open Health Care UK</a>
              <br />
              <a href="https://github.com/openhealthcare/opal">Github</a>
            </center>
          </div>
        </div>
      </footer>
    </div>
  </body>

  <script>

  </script>
</html>
